@import "./utils/variables.scss";

.catalog {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: $card-margin-y $card-margin-x;
  max-width: min-content;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
